h2 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    width: 80%;
    margin: 0 auto;
}

h2::first-letter {
    color: #800000;
    float: left;
    margin: 0 .1em 0 0;
    line-height: 0.85;
}